html {
   font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
   font-size: 15px;
 }

 body{
  background:url(/images/subtle_grunge.png);
 }

h1,h2,h3,h4,h5,h6 {
   font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.container{
  max-width:700px;
  margin: auto !important;
}
.ui.input input.clear{
  background: transparent;
  border-radius: 0;
  border:none;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.ui.label.fixed {
  position: fixed;
}
.ui.segment.attached.clear {
  -webkit-box-shadow: none;
  box-shadow: none;
}