html {
 font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
 font-size: 15px;
}

body{
  background:url(/images/subtle_grunge.png);
}

h1,h2,h3,h4,h5,h6 {
 font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.ui.input input.clear{
  background: transparent;
  border-radius: 0;
  border:none;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}


.masthead {
  position: relative;
  overflow: hidden;
  background-color: #00B5AD;
  text-align: center;
  padding-bottom: 50px;
  padding-top:70px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 0px;
  border-bottom: none;
}
.masthead h1 {
  font-size: 5em;
  color: #FFFFFF;
  line-height: 1.2;
  margin: -20px 0px 0px;
  padding-bottom: 0px;
}
.ui.label.fixed {
  position: fixed;
}
.ui.ribbon.label.left {
  left: -2.3rem;
}
.ui.segment.attached.clear {
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* CONTAINER STYLES */

.container{

  width:700px;
  margin: auto;
  background:white;
  margin-top:150px;
}
/* Form Styles */
form.fluid {
  font-size: 1em;
  padding: 2em;
}
form.fluid > input {
  font-size: 1em;
}
form.fluid input.text {
  border: none;
  border-bottom: 1px dashed #ccc;
}
form.fluid input.button {
  color: white;
  background: red;
  border:none;
  padding: .5em;
}
/* Menu Styles */
.menu {
  width: 100%;
  height:auto;
  background: #333;
}
.menu .title{
  color: white;
  border-right: 1px solid;
  display:inline-block;
  padding: 0.75em 1em 0.75em 1em ;
  vertical-align: middle;
}
.menu .title > a:visited{
  color:white;
  line-height: 1;
}
.menu .links {
  float:right;

}
.menu .links .item {
  line-height: 1;
  vertical-align: middle;
  display:inline-block;

}
.menu .links > a {
  border-left: 1px solid;
  padding: 0.75em 1em 0.75em 1em ;
  color: white;
  display:inline-block;
}
/* Question styles */ 
.card {
  padding: 10px 50px;
  box-shadow: 5px 5px 20px 2px #ddd;
}
.question {
  margin: auto;
}

.labels {
  padding: 0;
  list-style: none;

}
.labels > .label {
  display:inline;
  margin: 0 2px;
  padding: 2px 5px;
  background: #dedede;
  color:#898989;
  font-weight: 100;
  font-size: .85em;
  border-radius:2px;

}

.answers {
  width: 100%;
  overflow:auto;
}
.answers > span {
  width: 31.3333%;
  margin: 1%;
  float:left;
  text-align: center;
  padding: 10px 0;
  box-sizing: border-box;
  transition: background 0.3s;
  font-weight: 200;
  border-radius: 4px;
}
.answers .false {
  border: 2px solid #D95C5C;
}
.answers .false:hover {
  background: #D95C5C;
}
.answers  .skip {
  border: 2px solid #E96633;
}
.answers .skip:hover {
  background: #E96633;
}
.answers .correct {
  border: 2px solid #5BBD72;
}
.answers .correct:hover {
  background: #5BBD72;
}

code{
  background: #eee;
  border:1px solid #ddd;
  border-radius: 2px;
}
/* Answer Styles */