
<div class="ui grid">

<section class="ui fourteen wide column ">
  <h2 class="ui dividing header" ng-bind-html="currentTitle"></h2>
  <article>
    <div class = "ui labels" >
    <div class="ui red ribbon label left">Tags:</div>
    <div class="ui label" ng-repeat="t in tags">{{ t }}</div> 
    </div>
    <div class=" ui basic segment" ng-bind-html="currentAnswer"></div>
    <span class="bottom attached 2 fluid ui labeled icon basic buttons" >
      <a class="ui  button" href="{{learnMoreLink}}"> Learn More <i class="inverted left red icon"></i></a>
<a id="RightKey" class="ui right labeled icon button" href="#question"> Next Question <i class="inverted right green icon"></i></a>

    </span>
  </article>
</section>
<section class="ui right floated one wide column">
  <a class="ui label teal" ng-click="go()" style="text-decoration:none;">Score</a>
</section>
</div>
