
<div class="ui grid">

<section class="ui fourteen wide column ">
  <h2 class="ui dividing header" ng-bind-html="currentTitle"></h2>
  <article>
    <div class = "ui labels" >
    <div class="ui red ribbon label left">Tags:</div>
    <div class="ui label" ng-repeat="t in tags">{{ t }}</div> 
    </div>
    <div class=" ui basic segment" ng-bind-html="currentAnswer"></div>
    <span class="bottom attached 2 fluid ui labeled icon basic buttons" >
      <div class="ui  button"> Learn More <i class="inverted left red icon"></i></div>
<div class="ui right labeled icon button"> Next Question <i class="inverted right green icon"></i></div>

    </span>
  </article>
</section>
<section class="ui two wide column">
  <div class="ui label fixed">test </div>
</section>
</div>
