

<form ng-submit="submitTopic();" class="fluid input card" style="text-align:center;">
<h1> StackQ </h1>
<p> Generate quizzes on any subject you can think of! </p>
I want to learn about...
	<input ng-model="topic" class="text" type="text" id='topic' placeholder="{{search_placeholder}}" style="margin-bottom:10px;">
	in
	<div class="ui inline dropdown">
		<div class="text">Programming</div>  
		<i class="dropdown icon"></i>
		<ul class="menu">
			<li class="item active" data-value="stackoverflow.com">Programming</li>
			<li class="item" data-value="superuser.com">System Administration</li>
			<li class="item" data-value="gaming.stackexchange.com">Video Games</li>
			<li class="item" data-value="english.stackexchange.com">English Language</li>
			<li class="item" data-value="math.stackexchange.com">Mathematics</li>
			<li class="item" data-value="movies.stackexchange.com">Movies & TV</li>
			<li class="item" data-value="boardgames.stackexchange.com">Board & Card Games</li>
			<li class="item" data-value="electronics.stackexchange.com">Electrical Engineering</li>
			<li class="item" data-value="graphicdesign.stackexchange.com">Graphic Design</li>
			<li class="item" data-value="scifi.stackexchange.com">Science Fiction & Fantasy</li>
			<li class="item" data-value="wordpress.stackexchange.com">Wordpress</li>
			<li class="item" data-value="answers.onstartups.com">Startups</li>
			<li class="item" data-value="photo.stackexchange.com">Photography</li>
			<li class="item" data-value="bitcoin.stackexchange.com">Bitcoin</li>
			<li class="item" data-value="ux.stackexchange.com">User Experience</li>
			<li class="item" data-value="money.stackexchange.com">Personal Finance & Money</li>
			<li class="item" data-value="japanese.stackexchange.com">Japanese Language</li>
			<li class="item" data-value="history.stackexchange.com">History</li>
		</ul>

	</div>
	<input type="submit" class="button" value="LEARN!" >
</form>
