<div class="ui grid">
  <section class="ui fourteen wide column">
    <h2 class="ui dividing header" ng-bind-html="currentTitle"></h2>
    <article>
      <div class = "ui labels" >
        <div class="ui red ribbon label left">Tags:</div>
        <div class="ui label" ng-repeat="tag in currentTags">{{ tag }}</div> 
      </div>
      <div class="ui attached basic segment clear " style="padding-top: 5px; margin-top: 10px; margin-bottom: 10px;" ng-bind-html="currentQuestion"> </div>
      <span class="bottom attached 3 fluid ui labeled icon basic buttons">
       <div id="LeftKey" class="ui button" ng-click="questionNotKnown()"><i class="inverted left red icon"></i> Show me the answer. </div>
       <div id="UpDownKey" class="ui button" ng-click="getNewQuestion()"> <i class="inverted up black icon"></i>Skip this subject.</div>
       <div id="RightKey" class="ui right labeled icon button" ng-click="questionKnown()"> <i class="inverted right green icon"></i>I know this, next. </div>

     </span>
   </article>
 </section>
 <section class="ui right floated one wide column">
  <a class="ui label fixed teal" href="#results">Score</a>
</section>
</div>
