<div class="ui grid">
  <section class="ui fifteen wide column">
    <h2 class="ui dividing header" ng-bind-html="currentTitle"></h2>
    <article ng-show="question">
      <div class = "ui labels" >
        <div class="ui red ribbon label">Tags:</div>
        <div class="ui label" ng-repeat="tag in currentTags">{{ tag }}</div> 
      </div>
      <div class="ui attached basic segment clear " ng-bind-html="currentQuestion"> </div>
      <span class="bottom attached 3 fluid ui labeled icon basic buttons">
       <div class="ui button" ng-click="questionNotKnown()"><i class="inverted left red icon"></i> Answer </div>
       <div class="ui button" ng-click="getNewQuestion()"> <i class="inverted up black icon"></i>Skip</div>
       <div class="ui right labeled icon button" ng-click="questionKnown()"> <i class="inverted right green icon"></i>Next Question </div>

     </span>
   </article>
 </section>
 <section class="ui right floated one wide column">
  <div class="ui label fixed">Results</div>
</section>
</div>
